<?xml version="1.0" encoding="utf-16"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OIB>18727196161</OIB>
  <USustavuPDV>True</USustavuPDV>
  <OznakaSlijednosti>P</OznakaSlijednosti>
  <OznakaPoslProstora>1</OznakaPoslProstora>
  <OznakaNaplatnogUredjaja>1</OznakaNaplatnogUredjaja>
  <NepostojecaAdresa>false</NepostojecaAdresa>
  <Ulica>Krčka</Ulica>
  <KucniBroj>13</KucniBroj>
  <DodatakKucnomBroju>.</DodatakKucnomBroju>
  <Posta>52440</Posta>
  <Naselje>Poreč</Naselje>
  <Opcina>Poreč</Opcina>
  <OstaliTipPP />
  <RadnoVrijeme>8-19, ljeti 7-22</RadnoVrijeme>
  <DatumPocetka>1.1.2013. 0:00:00</DatumPocetka>
  <OIBprogramera />
  <CertificateSubject />
  <CertificateFile>D:\Old\Old2013\FKasa\racuni\fiskal1.pfx</CertificateFile>
  <CertificatePass>MTcwMjE=</CertificatePass>
  <RequestFile>D:\Old\Old2013\FKasa\Racun.txt</RequestFile>
  <ResponseFile>D:\Old\Old2013\FKasa\response.txt</ResponseFile>
  <Url />
  <LogFolder>D:\Old\Old2013\FKasa\racuni</LogFolder>
  <Password />
  <Timeout>9</Timeout>
</Configuration>
